<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <h3 class=" text-center">Culmine el proceso de registro y aumente la red trabajo aplicando a ofertas de trabajo</h3>
       
        <div class="col-md-8 col-lg-8 col-xl-8">
          <form>
            
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Nombres</label>
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Introduzca su nombre completo" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Apellidos </label>
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Introduzca sus apellidos" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Fecha de nacimiento</label>
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Introduzca su fecha de nacimiento" />
            </div>

  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Recordar datos
                </label>
              </div>
              
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg" routerLink="/subscriber/subscriber-home">Registrar</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes cuenta? <a routerLink="/auth/login"
                  class="link-danger">Inicia sesión</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. Todos los derechos reservados.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>