<nav class="navbar justify-content-center navbar-light bg-light">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="/manager/manager-home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manager/manager-job">Empleos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manager/manager-offer">Ofertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
    </li>
  </ul>
</nav>

<section>
  <div class="container">
    <div class="text-center my-4">
      <h1>Gestión de empleos</h1>
    </div>
    <div class="text-center my-4">
      <h5>
        Para crear un perfil de empleo, debe hacerlo a partir de las categorias
        existentes
      </h5>
    </div>
    <button
      type="button"
      class="btn btn-primary btn-g my-4"
      routerLink="/manager/manager-create-job"
    >
      Crear empleo
    </button>
    <table class="table table-hover table-sm align-middle">
      <thead class="table">
        <tr>
          <th scope="col">EMPLEO</th>
          <th scope="col">TEMA</th>
          <th scope="col">Empresa</th>
          <th scope="col">CONTENIDO</th>
          <th scope="col">HORARIO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; let index = index">
          <td>{{ post.title }}</td>
          <td>{{ post.teme }}</td>
          <td>{{ post.company }}</td>
          <td>{{ post.description }}</td>
          <td>{{ post.typeJob }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@mdo"
            >
              Modificar
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onDelete(post._id)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Actualización de oferta
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3 px-3 align-middle">
                <b>Empleo: </b>#58945435<br />
                <b>Tema: </b>Servicio técnico<br />
                <b>Tópico: </b>Computadoras<br />
                <b>Contenido: </b>HP, DELL,SIRAGON,LENOVO<br />
                <b>Horario: </b>de 8am a 4pm<br />
                <b>Demanda anterior: </b>2<br />
                <b>Demanda actual: </b>
                <label for="recipient-name" class="col-form-label"
                  ><input type="text" class="form-control" id="recipient-name"
                /></label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
