<nav class="navbar justify-content-center navbar-light bg-light ">
    <ul class="nav nav-pills nav-justified ">
        <li class="nav-item">
            <a class="nav-link" routerLink="/subscriber/subscriber-home">Inicio</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link"  routerLink="/subscriber/subscriber-job">Empleos</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/subscriber/subscriber-offer">Ofertas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
        </li>
        
    </ul>
</nav>

<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="text-center my-4">
                <h1>¡Bienvenido subscriptor!</h1>
            </div>
            <div class="text-center my-4">
                <h5>Para empezar a conectar con más personas y optar a oportunidades de empleo, navega por la barra de direcciones</h5>
            </div>

            <div class="col-md-10 col-lg-8 col-xl-8">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                alt="Sample image">
                
            </div>
        </div>        
    </div>
</section>

