
<nav class="navbar justify-content-center navbar-light bg-light ">
    <ul class="nav nav-pills nav-justified ">
        <li class="nav-item">
            <a class="nav-link"  routerLink="/admin/admin-home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/admin/admin-theme">temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-job">Empleos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-contents">Contenidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-asisstance">Horarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
        </li>
        
    </ul>
</nav>
