<nav class="navbar justify-content-center navbar-light bg-light">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="/manager/manager-home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manager/manager-job">Empleos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manager/manager-offer">Ofertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
    </li>
  </ul>
</nav>

<section>
  <div class="container">
    <div class="text-center my-4">
      <h1>Creación de empleo</h1>
    </div>
    <div class="text-center my-4">
      <h5>
        Para crear el perfil de empleo debe partir de las categorias existentes
      </h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="mb-3">
          <label for="title" class="form-label">Titulo del empleo</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            id="title"
          />
        </div>
        <div class="mb-3">
          <label for="position" class="form-label"
            >Posicion que desea buscar</label
          >
          <input
            type="text"
            formControlName="position"
            class="form-control"
            id="position"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"
            >Descripcion de empleo</label
          >
          <textarea
            class="form-control"
            formControlName="description"
            id="description"
            rows="3"
          ></textarea>
        </div>
        <div class="mb-5">
          <label for="company" class="form-label">Nombre de la empresa</label>
          <input
            type="text"
            formControlName="company"
            class="form-control"
            id="company"
          />
        </div>
        <div class="row mb-5">
          <div class="col">
            <select
              formControlName="typeOfWorkplace"
              class="form-select"
              aria-label="Default select example"
            >
              <option [ngValue]="null" disabled>
                Seleccione el tipo de trabajo
              </option>
              <option [ngValue]="'remote'">Remoto</option>
              <option [ngValue]="'face-to-face'">Presencial</option>
            </select>
          </div>
          <div class="col">
            <select
              class="form-select"
              formControlName="typeJob"
              aria-label="Default select example"
            >
              <option [ngValue]="null" disabled>Seleccione el tiempo</option>
              <option [ngValue]="'full time'">Jornada complete</option>
              <option [ngValue]="'part time'">Media jornada</option>
            </select>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col">
            <div class="mb-3">
              <label for="teme" class="form-label">Tema del empleo</label>
              <input
                formControlName="teme"
                type="text"
                class="form-control"
                id="teme"
              />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="address" class="form-label"
                >Direccion del empleo</label
              >

              <input
                formControlName="address"
                type="text"
                class="form-control"
                id="address"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
        </div>
        <button
          *ngIf="loading"
          class="btn btn-primary btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Cargando...
        </button>
        <button *ngIf="!loading" type="submit" class="btn btn-primary">
          Guardar Oferta
        </button>
      </form>
    </div>
  </div>
</section>
<!-- title: string;
  description: string;
  position: string;
  company: string;
  typeOfWorkplace: string; //
  teme: string;
  typeJob: string; //
  ?: string; -->
