<nav class="navbar justify-content-center navbar-light bg-light ">
    <ul class="nav nav-pills nav-justified ">
        <li class="nav-item">
            <a class="nav-link"  routerLink="/admin/admin-home">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-job">Empleos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/admin/admin-theme">Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/admin/admin-topic">Tópicos</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-contents">Contenidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-asisstance">Horarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
        </li>
        
    </ul>
</nav>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="text-center mt-4 ">
            <h1>Gestión de temas</h1>
        </div>
        <!--<div class="text-center my-4">
            <h5>Para regular, controlar y supervisar las ofertas de empleo en la plataforma, navega por la barra de direcciones</h5>
        </div>-->
        <div class="col-md-10 col-lg-8 col-xl-8 ">
            <form>
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <!--<p class="lead fw-normal mb-0 me-3">¡Aumenta tu red de trabajo!</p> -->
                    <div class="divider d-flex align-items-center">
                    <p class="text-center fw-bold mx-3"></p>
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Contenido</label>
                    <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Introduzca nombre del tema" />
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Descripción</label>
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Describa el tema" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Aptitudes</label>
                    <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="5" 
                    placeholder="Indique las características de este tema"></textarea>
                </div>
                <div class="d-grid  d-md-block justify-content-center ">
                    <button type="submit"  routerLink="/admin/admin-home" class="btn bg-danger text-white col-lg-5 offset-lg-1" >Salir</button>
                    <button type="submit" class="btn btn-primary col-lg-5 ">Guardar</button>
                </div>
            </form>
            </div>
        </div>  
    </div>
</section>