
nav{
    background-color: #0D6EFD !important ;
    /*font-weight: bold;*/
}
.navbar ul li a{
    color:white;
}

thead{
    height: 30px !important;
    background-color: #eeeeee  ;
}
.modal-header{
    background-color: #eeeeee;
}