<nav class="navbar justify-content-center navbar-light bg-light ">
    <ul class="nav nav-pills nav-justified ">
        <li class="nav-item">
            <a class="nav-link" routerLink="/manager/manager-home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/manager/manager-job">Empleos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manager/manager-offer">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
      </li>
      
    </ul>
</nav>

<section>
    <div class="container">
        <div class="text-center my-4">
            <h1>Gestión de ofertas</h1>
        </div>
        <div class="text-center my-4">
            <h5>Para crear o modificar la oferta empleo, debe actualizar su disponibilidad</h5>
        </div>
       
        <table class="table table-hover  table-sm align-middle">
            <thead class="table  ">
                <tr>
                <th scope="col">EMPLEO</th>
                <th scope="col">TEMA</th>
                <th scope="col">TOPICO</th>
                <th scope="col">CONTENIDO</th>
                <th scope="col">HORARIO</th>
                <th scope="col">OFERTA</th>
                <th scope="col"></th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#58945435</td>
                    <td>Servicio técnico</td>
                    <td>Computadoras</td>
                    <td>HP, DELL,SIRAGON,LENOVO</td>
                    <td>De 8am a 4pm</td>
                    <td>2</td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">actualizar disponibilidad</button></td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualización de oferta</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3 px-3 align-middle">
                        <b>Empleo:           </b>#58945435<br>
                        <b>Tema:             </b>Servicio técnico<br>
                        <b>Tópico:           </b>Computadoras<br>
                        <b>Contenido:        </b>HP DELL SIRAGON LENOVO<br>
                        <b>Horario:          </b>de 8am a 4pm<br>
                        <b>Demanda anterior: </b>2<br>
                        <b>Demanda actual:  </b>
                        <label for="recipient-name" class="col-form-label"><input type="text" class="form-control" id="recipient-name"></label> 
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Actualizar</button>
                </div>
              </div>
            </div>
          </div>

    </div>
</section>

