<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-10 mt-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h5 class="text-center my-4">
            Registrate y aumenta tus oportunidades
          </h5>

          <div class="form-outline mb-4">
            <label class="form-label" for="name">Nombre</label>
            <input
              formControlName="name"
              type="text"
              id="name"
              class="form-control form-control-lg"
              placeholder="Introduzca nombre completo"
            />
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="lastname">Apellido</label>
            <input
              type="text "
              formControlName="lastname"
              id="lastname"
              class="form-control form-control-lg"
              placeholder="Introduzca apellidos"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="address">Dirección</label>
            <input
              type="text "
              formControlName="address"
              id="address"
              class="form-control form-control-lg"
              placeholder="Introduzca dirección de residencia"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="dni">DNI</label>
            <input
              type="text"
              formControlName="dni"
              id="dni"
              class="form-control form-control-lg"
              placeholder="Introduzca número de DNI"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="accountType">Tipo de cuenta</label>
            <select
              class="form-select"
              formControlName="accountType"
              id="accountType"
              aria-label="Default select example"
            >
              <option [ngValue]="null" dissable>
                Seleccione un tipo de cuenta
              </option>
              <option [ngValue]="'Professional'">Personal</option>
              <option [ngValue]="'Business'">Empresarial</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Correo electrónico</label>
            <input
              type="email"
              formControlName="email"
              id="email"
              class="form-control form-control-lg"
              placeholder="Introduzca dirección de correo electrónico"
            />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="webSite">Sitio web</label>
            <input
              type="text"
              id="webSite"
              formControlName="webSite"
              class="form-control form-control-lg"
              placeholder="Introduzca link de página web personal"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control form-control-lg"
              placeholder="Introduzca contraseña"
            />
          </div>
          <div
            class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-center"
          >
            <button
              *ngIf="!loading"
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Registrar
            </button>
            <button
              *ngIf="loading"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Cargando...
            </button>
            <br />
          </div>
          <p class="small text-center fw-bold mt-2 mb-3 pt-1 mb-0">
            Ya tienes cuenta?
            <a routerLink="/auth/login" class="link-danger text-center"
              >Inicia sesión</a
            >
          </p>
          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Registro en progreso
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Para culminar de manera exitosa, por favor, indique su perfil!
                </div>
                <div class="modal-footer text-center text-justifity">
                  <button
                    type="button"
                    routerLink="/auth/register-manager"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Gestor-Empresa
                  </button>
                  <button
                    type="button"
                    routerLink="/auth/register-subscriber"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Suscriptor-Trabajador
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- CODIGO INICIAL DE FERCHO
<p>registrarse!</p>
<button class="btn btn-primary" routerLink="/auth/login">login</button>
-->
