<nav class="navbar justify-content-center navbar-light bg-light ">
    <ul class="nav nav-pills nav-justified ">
        <li class="nav-item">
            <a class="nav-link"  routerLink="/admin/admin-home">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-job">Empleos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/admin/admin-theme">Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/admin/admin-topic">Tópicos</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-contents">Contenidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/admin-asisstance">Horarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/auth/auth-login">Salir</a>
        </li>
        
    </ul>
</nav>
<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="text-center my-4">
                <h1>¡Bienvenido admin!</h1>
            </div>
            <div class="text-center my-4">
                <h5>Para regular, controlar y supervisar los perfiles y categorias de empleo en la plataforma, navega por la barra de direcciones</h5>
            </div>

            <div class="col-md-10 col-lg-8 col-xl-8">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                alt="Sample image">
                
            </div>
        </div>        
    </div>
</section>
