<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="lead fw-normal mb-0 me-3">¡Aumenta tu red de trabajo!</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f">F</i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter">T</i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in">L</i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              formControlName="email"
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Introduzca dirección de correo electrónico"
            />
            <label class="form-label" for="form3Example3"
              >Correo electrónico</label
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              formControlName="password"
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Introduzca  contraseña"
            />
            <label class="form-label" for="form3Example4">Contraseña</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Recuérdame
              </label>
            </div>
            <a href="#!" class="text-body">Olvidaste tu contraseña?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              *ngIf="!loading"
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Iniciar
            </button>
            <button
              *ngIf="loading"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Cargando...
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              No tienes cuenta?
              <a routerLink="/auth/register" class="link-danger">regístrate</a>
            </p>
          </div>
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Inicio en progreso
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Como todavia no hay back y el show debe continuar, Por favor!
                  Indique que tipo de usuario desea ser
                </div>
                <div class="modal-footer text-center text-justifity">
                  <button
                    type="button"
                    routerLink="/admin/admin-home"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Administrador
                  </button>
                  <button
                    type="button"
                    routerLink="/manager/manager-home"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Gestor-Empresa
                  </button>
                  <button
                    type="button"
                    routerLink="/subscriber/subscriber-home"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Suscriptor-Trabajador
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- codigo viejo de fercho
<p>iniciar session!</p>
<button class="btn btn-primary" routerLink="/auth/register">Registrar</button>
-->
